<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Face Clicking Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="clickGame/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

<!-- Jumbotron -->
  <div class="jumbotron">
    <h1>NBA Face Clickers</h1>
    <h2><a class="btn btn-info" href="#" role="button" id="start">Start</a>  <button type="button" class="btn btn-info" id="rules">Rules</button> <button type="button" class="btn btn-info" id="rules"><a href="portfolio.html">Portfolio</a></button></h2>
  </div>

<!-- NBA Faces -->
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><img src="img/blake.jpg" alt="blake" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/bosh.jpg" alt="bosh" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/bron.jpg" alt="bron" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/chef.jpg" alt="chef" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/dirk.jpg" alt="dirk" class="img-circle players"></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><img src="img/dwight.jpg" alt="dwight" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/iverson.jpg" alt="iverson" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/jr.jpg" alt="jr" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/kobe.jpg" alt="kobe" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/lebron.jpg" alt="lebron" class="img-circle players"></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><img src="img/lilb.jpg" alt="lilb" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/lin.jpg" alt="lin" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/mcgee.jpg" alt="mcgee" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/rose.jpg" alt="rose" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/russ.jpg" alt="russ" class="img-circle players"></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1"><img src="img/shaq.jpg" alt="shaq" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/spree.jpg" alt="spree" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/swag.jpg" alt="swag" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/wall.jpg" alt="wall" class="img-circle players"></div>
      <div class="col-md-2"><img src="img/yao.jpg" alt="yao" class="img-circle players"></div>
      <div class="col-md-1"></div>
    </div>
  </div>

    <!--Footer-->

    <footer>
      <div>
        <p class="footer">&copy; 2015 Mohammed Rizvi</p>
      </div>
    </footer>

<!--javascript tag-->
 <script type="text/javascript" src="js/script.js"></script>
 <script type="text/javascript" src="js/rules.js"></script>

</body>
</html>