h1, h2 {
  text-align: center;
  margin: 0;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-shadow: 2px 2px 5px #fff;
}


p {
  font-size: 20px;
  font-family: 'Lobster', cursive;
  color: #000;
  padding: 0;
}

body {
  background-color: #84B0DE;
}

img:hover {
  opacity: 0.8;
}

.jumbotron {
  height: 150px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #84B0DE;
  background-color: #1a1a1a;
}

.img-circle {
  padding: 10px;
  width: 200px;
}

.footer {
  position: absolute;
  left: 20px;
}

.timer {
  position: absolute;
  left: 20px;
}





